@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../font/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Lobster';
    src: url('../font/Lobster.otf');
}


.flex {
	display: flex;
	display: -webkit-flex;
    display: -moz-flex;
}

.bor {
	border: 1px solid #000;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../img/bg-img.jpg') no-repeat fixed center;
	background-size: cover;
}

#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient( right, rgba(3, 185, 242, .9), rgba(29, 209, 246, .9) );
    background: -moz-linear-gradient( right, rgba(3, 185, 242, .9), rgba(29, 209, 246, .9) );
    background: linear-gradient( right, rgba(3, 185, 242, .9), rgba(29, 209, 246, .9) );
}

.bg-antrian {
    background: #ffff;
}

/*--------------------  header  -------------------*/

#bg-header {
/*    height: 200px;*/
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.ambil-antrian #bg-header{
    height: 15%;
    justify-content: center;
    background-color: #f5f5f5;
}

.ambil-antrian #bg-header h1 {
    color: #000000;
}

.bg-antrian #bg-header {
    height: 30%;
}

#frame {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

#frame img {
    margin-left: 40%;
    width: 60%;
    height: 100%;
}

.bg-antrian #row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bg-antrian #row .card-antrian {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat-Regular', calibri;
}

.bg-antrian #row .card-antrian:not(:last-of-type) {
    border-right: 1px solid rgba(255, 255, 255, 0.85);    
}

.bg-antrian #row .card-antrian .nomor {
    font-size: 90px;
    color: #ffffff;
}

.bg-antrian #row .card-antrian .ketLoket {
    background: #017dbe;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

#bg-header h1 {
    font-family: 'Montserrat-Regular', calibri;
    color: #ffffff;
    font-size: 60px;
    font-weight: lighter;
    padding-left: 2%;
}

#bg-header table {
    margin-left: 2%;
    height: 80%;
}

#bg-header table tr {
    height: 100%;
}

#logo {
    min-width: 120px;
}

#cont-logo-stnd {
    position: absolute;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#logo-stnd {
    margin-right: 2%;
}

#cont-ktm {
    font-family: 'Montserrat-Regular', calibri;
    position: absolute;
    top: 20%;
    height: 72.5%;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

#cont-ktm #ktm {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    margin-bottom: 1%;
    font-size: 25px;
}

#cont-ktm #ktm p {
    color: rgba(0,0,0,0.7);
    text-wrap: wrap;
    text-align: center;
}

#cont-ktm #ktm img {
    transform: rotate(-90deg);
}


#label-1 {
    font-family: 'Montserrat-SemiBold', calibri;
    color: #017dbe;
    font-size: 54px;
    margin: -10px;
}

#label-2 {
    font-family: 'Montserrat-Regular', calibri;
    font-size: 12px;
    color: #ffffff;
}

#label-3 {
    font-family: 'Lobster', calibri;
    color: #ffffff;
    font-size: 24px;
}

#header-img {
    height: 100%;
    margin-right: 2%;
}

#header-img img {
    height: 100%;
    -webkit-filter: opacity(70%);
}

/*---------------------- main ------------------------*/

#bg-main {
/*    height: 500px;*/
    height: 73%;
    background: rgba(1, 125, 190, .2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ambil-antrian #bg-main {
    height: 60%;
    background-color: #f5f5f5;
}

.ambil-antrian #bg-main #bg-row {
    font-family: 'Montserrat-Regular', calibri;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 185, 242, .9);
    color: #ffffff;
    font-size: 200px;
}

.bg-antrian #bg-main {
    height: 63%;
    flex-direction: row;
    align-items: space-between;
}

.bg-antrian #bg-main #column {
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bg-antrian #bg-main #column #news {
    width: 96%;
    height: 100%;
    background: #fff;
    position: relative;
    margin: 2%;
    padding: 2%;
    font-family: 'Montserrat-Regular';
    color: rgba(0,0,0,0.7);
    margin-right: 6%;
}

.bg-antrian #bg-main #column #news .berita {
    padding: 2%;
    height: 90%;
    position: absolute;
    background: #fff;
    overflow: hidden;
}

.bg-antrian #bg-main #column #news .header {
    height: 20%;
    border: 1px solid #000;
}

.bg-antrian #bg-main #column #news img {
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-antrian #bg-main #column #news h1 {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    text-align: center;
    border-bottom: 1px solid #000;
    position: absolute;
}


#bg-main #label {
    font-family: 'Montserrat-Regular', calibri;
    color: #ffffff;
    font-size: 25px;
    align-items: center;
    width: 85%;
    height: 5%;
}

#label #text {
    margin-left: 2.8%;
    padding-top: 5%;
}

#bg-main #bg-row {
/*    width: 1200px;*/
/*    height: 450px;*/
    margin-top: -50px;
    width: 85%;
    height: 85%;
    margin-bottom: 4%;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cont-slider {
    height: 73%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#slider {
    width: 1190px;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#slider .slider {
    width: 1190px;
    height: 100%;
    position: absolute;
    display: none;
    left: 0;
    animation-name: slider-standby;
    animation-duration: 2s;
    -webkit-animation-name: slider-standby;
    -webkit-animation-duration: 2s;
    -moz-animation-name: slider-standby;
    -moz-animation-duration: 2s;
}

#slider .slider img {
    width: 1190px;
}

#slider .caption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.85);
    bottom: 0;
    color: #fff;
    font-size: 30px;
    padding-left: 2%;
    font-family: 'Montserrat-Regular', calibri;
}

#slider #img-1 {
    display: inherit;
}

@keyframes slider-standby {
    from {left: 1200px;}
    to {left: 0;}
}

@-webkit-keyframes slider-standby {
    from {left: 1200px;}
    to {left: 0;}
}

@-moz-keyframes slider-standby {
    from {left: 1200px;}
    to {left: 0;}
}

.menu-utama {
    height: 80%;
    width: 40%;
    font-size: 300%;
    margin: 2%;
}

.menu-akademik, .menu-administrasi {
    height: 50%;
    width: 30%;
    font-size: 200%;
    margin: 1%;
}

#bg-main #bg-row a {
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
    text-decoration: none;
    color: #017dbe;
    font-family: 'Montserrat-SemiBold', calibri;
    text-wrap: wrap;
}

#bg-main #bg-row a span {
    width: 75%;
}

.login #bg-main #bg-row {
    font-family: 'Montserrat-Regular', calibri;
    width: 60%;
    flex-direction: column;
}

.login #bg-main #bg-row #header, .login #bg-main #bg-row #main, .login #bg-main #bg-row #footer {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.login #bg-main #bg-row #header {
    height: 30%;
    background: #fff;
    font-size: 40px;
}

.login #bg-main #bg-row #main {
    height: 50%;
    background: #fff;
    justify-content: space-between;
    flex-direction: column;
}

.login #bg-main #bg-row #main table tr {
    font-size: 20px;
}

.login #bg-main #bg-row #main table tr input {
    border-style: none;
    outline-style: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    transition: height 0.3s;
} 

.login #bg-main #bg-row #main table tr td{
    padding: 15px;
}

.login #bg-main #bg-row #main #error {
    margin-bottom: 10px;
    width: 50%;
}

.login #bg-main #bg-row #footer {
    height: 20%;
}

.login #bg-main #bg-row #footer input[type="button"] {
    height: 100%;
    width: 100%;
    background: #2d2e2e;
    border-style: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#bg-main #back {
    position: absolute;
    left: 3%;
    bottom: 10%;
}

#bg-main #back a img {
    background-repeat: no-repeat;
}

/*------------------------- footer -----------------*/

#footer {
    font-size: 20px;
    font-family: 'Montserrat-Regular', calibri;
    font-weight: lighter;
    height: 7%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.ambil-antrian #footer {
    background-color: #f5f5f5;
    justify-content: center;
    height: 25%;
}

.ambil-antrian a{
    background-color: #2d2e2e;
    border-right: 1px solid #fff;
    width: 20%;
    height: 40%;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#footer-time {
    margin: 2%;
    font-size: 35px;
    color: #017dbe;
    font-family: calibri;
}

/*-------------------------- modal --------------------*/

#modal-container {
    z-index: 90;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#modal {
    font-family: 'Montserrat-Regular', calibri;
    display: none;
    flex-direction: column;
    height: 500px;
    width: 800px;
    position: absolute;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    
    -webkit-animation-name: muncul;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    -moz-animation-name: muncul;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    animation-name: muncul;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
}

#modal-header {
    font-size: 40px;
    color: #2d2e2e;
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

#modal-header p {
    padding-top: 50px;
}

#modal-main {
    color: #2d2e2e;
    position: relative;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-size: 25px;
}

#modal-main label {
    font-size: 27px;
    animation-name: muncul-text3;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    -webkit-animation-name: muncul-text3;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    -moz-animation-name: muncul-text3;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
}

#modal-main #no-antrian {
    font-size: 120px;
    -webkit-animation-name: muncul-text;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    -moz-animation-name: muncul-text;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    animation-name: muncul-text;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
}

#modal-container .error #modal-header {
    color: red;
    height: 40%;
    font-size: 40px;
    -webkit-animation-name: muncul-text2;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    -moz-animation-name: muncul-text2;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
    animation-name: muncul-text2;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.35, -0.01, .57, 2);
}

#modal-footer {
    flex-direction: row;    
    position: relative;
    height: 20%;
    background: #2d2e2e;
    color: #ffffff;
}

#modal-footer #exit {
    border-right: 2px solid rgba(255,255,255,.2);
}

#modal-footer #exit, #modal-footer #ambil , #modal-footer #daftar{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#form-daftar {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: inherit;
    width: 60%;
    height: 88%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    animation-name: form-anim;
    animation-duration: 0.8s;
    -webkit-animation-name: form-anim;
    -webkit-animation-duration: 0.8s;
    -moz-animation-name: form-anim;
    -moz-animation-duration: 0.8s;
}

#form-daftar td, #form-daftar input {
    font-size: 25px;
    font-family: 'Montserrat-Regular', calibri;
}

#form-daftar td {
    padding: 25px;
}

#form-daftar td[colspan] {
    padding-bottom: 5px;
    padding-top: 5px;
}

#form-daftar input[type=button] {
    width: 100%;
    background: #2d2e2e;
    color: #fff;
    outline-style: none;
    border-style: none;
    height: 60px;
    cursor: pointer;
}

#form-daftar tr:nth-of-type(5) td {
    padding-top: 50px;
}

#form-daftar tr:last-child td input{
    background-color: #fff;
    color: #2d2e2e;
    border: 1px solid #2d2e2e;
}

#form-daftar input[type=button]:active {
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

@keyframes form-anim {
    from {margin-top: -1000px;}
    to   {margin-top: 0;}
}

@-webkit-keyframes form-anim {
    from {margin-top: -1000px;}
    to   {margin-top: 0;}
}

@-moz-keyframes form-anim {
    from {margin-top: -1000px;}
    to   {margin-top: 0;}
}

@keyframes muncul-text {
    from {font-size: 0;}
    to   {font-size: 120px;}
}

@-webkit-keyframes muncul-text {
    from {font-size: 0;}
    to   {font-size: 120px;}
}

@-moz-keyframes muncul-text {
    from {font-size: 0;}
    to   {font-size: 120px;}
}

@keyframes muncul-text2 {
    from {font-size: 0;}
    to   {font-size: 40px;}
}

@-webkit-keyframes muncul-text2 {
    from {font-size: 0;}
    to   {font-size: 40px;}
}

@-moz-keyframes muncul-text2 {
    from {font-size: 0;}
    to   {font-size: 40px;}
}

@keyframes muncul-text3 {
    from {font-size: 0;}
    to   {font-size: 27px;}
}

@-webkit-keyframes muncul-text3 {
    from {font-size: 0;}
    to   {font-size: 27px;}
}

@-moz-keyframes muncul-text3 {
    from {font-size: 0;}
    to   {font-size: 27px;}
}

@keyframes muncul {
    from {width: 50px; height: 30px;}
    to   {width: 800px; height: 500px;}
}

@-webkit-keyframes muncul {
    from {width: 50px; height: 30px;}
    to   {width: 800px; height: 500px;}
}

@-moz-keyframes muncul {
    from {width: 50px; height: 30px;}
    to   {width: 800px; height: 500px;}
}


/*--------------------------- slideshow ----------------------------*/
