<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
</head>
<body>
	<div id="background"></div>
	<div id="bg" class="ambil-antrian">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<h1> LOKET 1 AKADEMIK </h1>			
		</div>

		<!-- main -->
		<div id="bg-main" class="flex">
			<div id="bg-row" class="flex">
                029
			</div>
		</div>
		 
		<!-- Footer -->
		<div id="footer" class="flex">
            <a href="#" id="call" class="flex">
                PANGGIL
            </a>
            <a href="#" id="next" class="flex">
                SELANJUTNYA
            </a>
		</div>

	</div>

    <script type="text/javascript" src="../public/script/client.js"></script>
	<script src="../controller/controller.js"></script>
</body>
</html>