<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
</head>
<body onload="times()">
	<div id="background"></div>
	<div id="bg">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<h1> Welcome </h1>			
		</div>

		<!-- slider -->
		<div id="cont-slider" class="flex">
			<div id="slider" class="flex" style="overflow:hidden; flex-direction:row;">
               
                <!-- 
                    setiap menambah gambar baru,
                    tambah attribute id="img-<ke-n>" dan class="slider"
                  -->
                <div id="img-1" class="slider">
                    <img src="../public/img/slider_imagine.png" alt="gambar">
                    <div class="caption">
                        <p>
                            2 WINNER MICROSOFT IMAGINE CUP 2015
                        </p>
                    </div>
                </div>
                <div id="img-2" class="slider">
                    <img src="../public/img/bg-img.jpg" alt="img">
                    <div class="caption">
                        <p>
                            GEDUNG BARU UNIKOM
                        </p>
                    </div>
                </div>
                <div id="img-3" class="slider">
                    <img  src="../public/img/20160830_123303.jpg" alt="bebas">
                    <div class="caption">
                        <p>
                            PERESMIAN GEDUNG BARU UNIKOM
                        </p>
                    </div>
                </div>
                
			</div>
			
		</div>
		
						<!-- Footer -->
		<div id="footer" class="flex" style="background-color: rgba(255, 255, 255, 0.9);">
			<div id="footer-time"></div>
			<marquee>
				UNIVERSITAS KOMPUTER INDONESIA
			</marquee>
		</div>
		
        <div id="frame">
            <img src="../public/img/frameset.png" alt="">
        </div>
	</div>
	
	<div id="cont-logo-stnd" class="flex">
        <img id="logo-stnd" src="../public/img/logo.png" height="115" alt="Logo">
    </div>
    
    <div id="cont-ktm" class="flex">
        <div id="ktm" class="flex">
            <p>TAP YOUR KTM HERE</p>
            <a href="" id="masuk">
                <img src="../public/img/ic_back.png" alt="back">
            </a>
        </div>
    </div>
    
    			        <!-- Modal -->
    <div id="modal-container" class="flex">
        <div id="modal" class="error">
               
            <div id="modal-header" class="flex">
                <p>KTM ANDA BELUM TERDAFTAR</p>
            </div>
                
            <div id="modal-main" class="flex" style="height: 40%; justify-content: flex-start;">
                <label>Silahkan daftarkan NIM dan NAMA anda</label>
            </div>
                
            <div id="modal-footer" class="flex">
                <div id="exit" class="flex">
                    KEMBALI
                </div>
                <div id="daftar" class="flex">
                   DAFTAR
                </div>
            </div>
        </div>  

        <div id="form-daftar" class="flex">
            <form action="">
                <table border="0">
                    <tr>
                        <td>NIM<td><input type="text" name="nim"></td>
                    </tr>
                    <tr>
                        <td>NAMA<td><input type="text" name="nama"></td>
                    </tr>
                    <tr>
                        <td>SEMESTER<td><input type="text" name="semester"></td>
                    </tr>
                    <tr>
                        <td>JURUSAN<td><input type="text" name="jurusan"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="button" name="daftar" value="DAFTAR"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="button" id="batal" name="batal" value="BATAL"></td>
                    </tr>
                </table>
            </form>
        </div> 

    </div>
    
    <script type="text/javascript" src="../public/script/client.js"></script>
    <script src="../controller/controller.js"></script>
    <script>
        var $ = function(val){ return document.getElementById(val); };
        var $$ = function(val){ return document.querySelectorAll(val); };

        //-- slideshow standby --
        var ximg = $$('.slider').length;
        var x = 1;

        function active(n) {
            var j = n + 1;
            for (var i = 1; i <= ximg; i++) {
                $('img-' + i).style.zIndex = i;

            }
                if (j > ximg)
                    j = 1;

                $('img-' + n).style.zIndex = ximg + 1;
                $('img-' + n).style.display = 'inherit';
                $('img-' + j).style.display = 'none';
        }

        function change() {
            x += 1;

           if (x > ximg)
               x = 1;

            return active(x);
        }

        setInterval(change, 10000);

        $('batal').onclick = function(){
            $('modal').style.display = 'none';
            $('modal-container').style.display = 'none';
            $('form-daftar').style.display = 'none';
        }
        
        $('exit').onclick = function(){
            $('modal').style.display = 'none';
            $('modal-container').style.display = 'none';
            $('modal-container').style.backgroundColor = 'rgba(0,0,0,0)';
        };

        $('daftar').onclick = function(){
            $('modal').style.display = 'none';
            $('form-daftar').style.display = 'flex';
        };

        $('masuk').onclick = function(){
            $('form-daftar').style.display = 'none';
            $('modal-container').style.display = 'flex';
            $('modal').style.display = 'flex';
            $('modal-container').style.backgroundColor = 'rgba(0,0,0,0.7)';
        };

    </script>
</body>
</html>