 <div id="modal">
    <!-- header modal -->           
    <div id="modal-header" class="flex">
        <p>LOKET 1 AKADEMIK</p>
    </div>
              
    <!-- main modal -->              
    <div id="modal-main" class="flex">
        <label>No. Antrian :</label>
        <div id="no-antrian">12</div>
    </div>
    
    <!-- footer modal -->                        
    <div id="modal-footer" class="flex">
        <a href="menu-utama.html" id="exit" class="flex">
            KEMBALI
        </a>
        <a id="ambil" class="flex">
            AMBIL ANTRIAN
        </a>
    </div>
    
</div>