<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
</head>
<body onload="times()">
	<div id="background"></div>
	<div id="bg" class="standby">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<h1> Welcome </h1>
		</div>

		<!-- slider 475 -->
		<div id="jssor_1" style="position: relative; top: 0px; left: 0px; width: 1200px; overflow: hidden; visibility: hidden;">
        <div id="slider" data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; overflow: hidden;">
            <div data-p="112.50" class="slider">
                <img data-u="image" style="width: 1200px;" src="../public/img/set-1.jpg" />
                <div class="caption">
                  <p>PERESMIAN GEDUNG BARU UNIKOM</p>
                </div>
            </div>
            <div data-p="112.50" class="slider" style="display: none;">
                <img data-u="image" src="../public/img/set-2.jpg" />
                <div class="caption">
                  <p>GEDUNG BARU UNIKOM</p>
                </div>
            </div>
            <div data-p="112.50" class="slider" style="display: none;">
                <img data-u="image" src="../public/img/set-3.png" />
                <div class="caption">
                  <p>2 WINNER MICROSOFT IMAGINE CUP 2015</p>
                </div>
            </div>
        </div>
    </div>

	<div id="frame">
		<img src="../public/img/frameset2.png" alt="">
	</div>

		<!-- Footer -->
		<div id="footer" class="flex" style="background-color: rgba(255, 255, 255, 0.9);">
			<div id="footer-time"></div>
			<marquee width="100%">
				UNIVERSITAS KOMPUTER INDONESIA
			</marquee>
		</div>


	</div>

	<div id="cont-logo-stnd" class="flex">
        <img id="logo-stnd" src="../public/img/logo.png" height="115" alt="Logo">
    </div>

    <div id="cont-ktm" class="flex">
        <div id="ktm" class="flex">
            <p>TAP YOUR KTM HERE</p>
            <a href="menu.html">
                <img src="../public/img/ic_back.png" alt="back">
            </a>
        </div>
    </div>
		<script type="text/javascript" src="../public/script/client.js"></script>
		<script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="../js/jssor.slider-21.1.6.mini.js" type="text/javascript"></script>
		<script type="text/javascript">
				jQuery(document).ready(function ($) {
					$(window).on('load', function(){
						var heightInPercent = 0.73;
						var fullScreen = Math.ceil(window.screen.height * heightInPercent);
						var size = ($(window).height() * heightInPercent) + 'px';
						var sHeight = Math.ceil($(window).height() * heightInPercent);

							var jssor_1_SlideshowTransitions = [
								{$Duration:1200,x:0.2,y:-0.1,$Delay:20,$Cols:8,$Rows:4,$Clip:15,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:260,$Easing:{$Left:$Jease$.$InWave,$Top:$Jease$.$InWave,$Clip:$Jease$.$OutQuad},$Outside:true,$Round:{$Left:1.3,$Top:2.5}},
								{$Duration:1500,x:0.3,y:-0.3,$Delay:20,$Cols:8,$Rows:4,$Clip:15,$During:{$Left:[0.1,0.9],$Top:[0.1,0.9]},$SlideOut:true,$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:260,$Easing:{$Left:$Jease$.$InJump,$Top:$Jease$.$InJump,$Clip:$Jease$.$OutQuad},$Outside:true,$Round:{$Left:0.8,$Top:2.5}},
								{$Duration:1500,x:0.2,y:-0.1,$Delay:20,$Cols:8,$Rows:4,$Clip:15,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:260,$Easing:{$Left:$Jease$.$InWave,$Top:$Jease$.$InWave,$Clip:$Jease$.$OutQuad},$Outside:true,$Round:{$Left:0.8,$Top:2.5}},
								{$Duration:1500,x:0.3,y:-0.3,$Delay:80,$Cols:8,$Rows:4,$Clip:15,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$Easing:{$Left:$Jease$.$InJump,$Top:$Jease$.$InJump,$Clip:$Jease$.$OutQuad},$Outside:true,$Round:{$Left:0.8,$Top:2.5}},
								{$Duration:1800,x:1,y:0.2,$Delay:30,$Cols:10,$Rows:5,$Clip:15,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$Reverse:true,$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:2050,$Easing:{$Left:$Jease$.$InOutSine,$Top:$Jease$.$OutWave,$Clip:$Jease$.$InOutQuad},$Outside:true,$Round:{$Top:1.3}},
								{$Duration:1000,$Delay:30,$Cols:8,$Rows:4,$Clip:15,$SlideOut:true,$Formation:$JssorSlideshowFormations$.$FormationStraightStairs,$Assembly:2049,$Easing:$Jease$.$OutQuad},
								{$Duration:1000,$Delay:80,$Cols:8,$Rows:4,$Clip:15,$SlideOut:true,$Easing:$Jease$.$OutQuad},
								{$Duration:1000,y:-1,$Cols:12,$Formation:$JssorSlideshowFormations$.$FormationStraight,$ChessMode:{$Column:12}},
								{$Duration:1000,x:-0.2,$Delay:40,$Cols:12,$SlideOut:true,$Formation:$JssorSlideshowFormations$.$FormationStraight,$Assembly:260,$Easing:{$Left:$Jease$.$InOutExpo,$Opacity:$Jease$.$InOutQuad},$Opacity:2,$Outside:true,$Round:{$Top:0.5}},
								{$Duration:2000,y:-1,$Delay:60,$Cols:15,$SlideOut:true,$Formation:$JssorSlideshowFormations$.$FormationStraight,$Easing:$Jease$.$OutJump,$Round:{$Top:1.5}}
							];

							var jssor_1_options = {
								$AutoPlay: true,
								$SlideshowOptions: {
									$Class: $JssorSlideshowRunner$,
									$Transitions: jssor_1_SlideshowTransitions,
									$TransitionsOrder: 1
								},
								$Idle: 7000,
								$SlideHeight: fullScreen//sHeight
							};

							function update(){
								size = ($(window).height() * heightInPercent) + 'px';
								sHeight = Math.ceil($(window).height() * heightInPercent);
								$('#jssor_1').css("height", size);
								$('#jssor_1 div:not(.caption)').css("height", size);
								$('#jssor_1 img').css("height", size);
								$('.caption').css("margin-bottom", "0");
								jssor_1_options.$SlideHeight = sHeight;
							}

							//-- initialize --
							$('#jssor_1').css("height", size);
							$('#jssor_1 div:not(.caption)').css("height", size);
							$('#jssor_1 img').css("height", size);
							var cHeight = $(window).height()
							var temp = (cHeight - 641) + '%';
							console.log(temp);
							if (sHeight == fullScreen) {
								$('.caption').css("margin-bottom", "0");
							} else {
								$('.caption').css("margin-bottom", '-20%');
							}


							//-- update size when resize --
							$(window).on('resize', function(){ update(); });

							var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
					});
				});
		</script>
</body>
</html>
