<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
    <style>@import 'https://fonts.googleapis.com/css?family=Open+Sans';</style>
</head>
<body onload="tanggal()">
	<div id="bg" class="bg-antrian">
    <!-- bg #0067b0 -->
    <!-- color #fcff00 -->
    <!-- margin #003d5a -->

        <!-- main -->
        <div id="main" class="flex">
			<!-- yang baru masuk -->
            <div class="active flex">
                <div class="process flex">
                    <div class="header flex">
                        <div class="logo" style="height: 75%; width: 110px; margin: 2%;">
                            <img src="../public/img/logo.png" height="100%" alt="logo">
                        </div>
                        <div class="text">
                        	<div class="label-1" >Biro Administrasi Umum</div>
							<div class="label-2">Universitas Komputer Indonesia</div>
							<div id="date"></div>
                        </div>
                    </div>
                    <div class="antrian-active flex">
                        <div class="nomor">
							<span class="kode-loket">A1</span>-<span class="nomor-antrian">101</span>
						</div>
                        <div class="id">
                            <span id="nama">Muhammad Imam</span>
							-
							<span id="nim">10113220</span>
                        </div>
                    </div>
                </div>
                <div class="video flex">
                    <video src="../public/video/cl.mp4" height="100%" style="background:#003d5a;" autoplay loop muted></video>
                </div>
            </div>

			<!-- loket bawah / yang lagi aktif -->
            <div class="queue flex">
                <div id="loket-1" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">AKADEMIK</span>
						<span class="kode-2">1</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">A1</span>-<span class="nomor-antrian">101</span>
					</div>
					<div class="id">
						<span id="nama">Ramdhan Rizki</span>
					</div>
                </div>

                <div id="loket-2" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">AKADEMIK</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">A2</span>-<span class="nomor-antrian">061</span>
					</div>
					<div class="id">
						<span id="nama">Tioreza Febrian</span>
					</div>
                </div>

                <div id="loket-3" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">1</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B1</span>-<span class="nomor-antrian">015</span>
					</div>
					<div class="id">
						<span id="nama">Dwi Ahmad Faizal Zebua</span>
					</div>
                </div>

                <div id="loket-4" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B2</span>-<span class="nomor-antrian">051</span>
					</div>
					<div class="id">
						<span id="nama">Rio Ardhityo</span>
					</div>
                </div>

				<div id="loket-4" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B2</span>-<span class="nomor-antrian">051</span>
					</div>
					<div class="id">
						<span id="nama">Rio Ardhityo</span>
					</div>
                </div>

				<div id="loket-5" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B2</span>-<span class="nomor-antrian">051</span>
					</div>
					<div class="id">
						<span id="nama">Rio Ardhityo</span>
					</div>
                </div>

				<div id="loket-6" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B2</span>-<span class="nomor-antrian">051</span>
					</div>
					<div class="id">
						<span id="nama">Rio Ardhityo</span>
					</div>
                </div>

				<div id="loket-7" class="loket flex">
					<div class="nama-loket">
						<span class="kode-1">ADMINISTRASI</span>
						<span class="kode-2">2</span>
					</div>
					<div class="nomor">
						<span class="kode-loket">B2</span>-<span class="nomor-antrian">051</span>
					</div>
					<div class="id">
						<span id="nama">Rio Ardhityo</span>
					</div>
                </div>
            </div>
        </div>

	</div>
    <script src="../public/script/client.js"></script>
	<script src="../controller/controller.js"></script>
</body>
</html>
