<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
    <style>@import 'https://fonts.googleapis.com/css?family=Open+Sans';</style>
</head>
<body onload="times()">
	<div id="bg" class="bg-antrian" style="background: #fff;">

		<!-- Header -->
		<div id="bg-header" class="" style="background: rgba(3, 185, 242, .9)">
			<div id="row" class="flex">

				<div class="card-antrian flex">
					<div class="nomor">109</div>
					<div class="ketLoket">AKADEMIK 1</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">115</div>
					<div class="ketLoket">AKADEMIK 2</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">302</div>
					<div class="ketLoket">ADMINISTRASI 1</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">204</div>
					<div class="ketLoket">ADMINISTRASI 2</div>
				</div>

			</div>
		</div>

		<!-- tengah -->
		<div id="bg-main" class="flex">
            <video src="../public/video/cl.mp4" height="100%" style="background:#fff;" autoplay loop muted></video>
            <div id="column" class="flex">
               <div id="news">
                   
                    <div id="content-1" class="berita">
                        <img src="../public/img/slider_imagine.png" alt="image">
                        <h1>Juara Imagine Cup 2015</h1>                            
                   </div>
                   
                   <div id="content-2" class="berita">
                        <img src="../public/img/20160830_123303.jpg" alt="">
                        <h1>Peresmian gedung baru unikom</h1>
                   </div>
                   
                    <div id="content-3" class="berita">
                        <img src="../public/img/0759442LIMA2780x390.jpg" alt="">
                        <h1>Unikom kembali mendapat juara 1</h1>
                    </div>
                    
                    <div id="content-4" class="berita">
                        <img src="../public/img/65610-robot-karya-mahasiswa-unikom-bandung-juara-kompetisi-robogames-2016-8a2_highres.jpg" alt="">
                        <h1>Robot unikom kembali <juaraS></juaraS></h1>
                    </div>
                    
               </div>
            </div>
		</div>
		
		<!-- Footer -->
		<div id="footer" class="flex">
			<div id="footer-time"></div>
			<marquee >
				UNIVERSITAS KOMPUTER INDONESIA
			</marquee>
		</div>

	</div>
    <script>
        var id = function(val){ return document.getElementById(val); }
        var sel = function(val){ return document.querySelectorAll(val); }
        var ximg = sel('img').length;
        var trans = 0;
        var temp = 2;
        
        function geser() {
            trans = trans + 107;
            temp++;
            
            if (temp > ximg) { 
                trans = 0;
                temp = 2;
            }

            for (var j = 1; j <= ximg; j++){
                id('content-' + j).style.transform = 'translateY(-'+trans+'%)'; 
                id('content-' + j).style.transition = 'transform 2s';
            }
        }
        
        setInterval(geser, 10000);

        
    </script>
    <script src="../public/script/client.js"></script>
	<script src="../controller/controller.js"></script>
</body>
</html>