<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../public/script/angular.min.js"></script>
	<link rel="stylesheet" href="../public/style/style.css">
</head>
<body onload="times()">
	<div id="bg" class="bg-antrian" style="background: #fff;">

		<!-- Header -->
		<div id="bg-header" class="" style="background: rgba(3, 185, 242, .9)">
			<div id="row" class="flex">

				<div class="card-antrian flex">
					<div class="nomor">109</div>
					<div class="ketLoket">AKADEMIK 1</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">115</div>
					<div class="ketLoket">AKADEMIK 2</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">302</div>
					<div class="ketLoket">ADMINISTRASI 1</div>
				</div>

				<div class="card-antrian flex">
					<div class="nomor">204</div>
					<div class="ketLoket">ADMINISTRASI 2</div>
				</div>

			</div>
		</div>

		<!-- tengah -->
		<div id="bg-main" class="flex">
            <video src="../public/video/cl.mp4" height="100%" width="70%" style="background:#f5f5f5;" autoplay loop muted></video>
            <div id="column" class="flex">
               <div id="news">
                    <div id="content-1" class="berita">
                        <div class="header">
                            <img src="../public/img/slider_imagine.png" alt="image">
                            <h1>Juara Imagine Cup 2015</h1>
                        </div>
                        <p>Ajang kompetisi adu inovasi dan kreativitas pengembangan aplikasi, Imagine Cup 2015, sudah memasuki babak final. Microsoft telah mengumumkan 33 tim finalis yang akan berlaga di Imagine Cup Final Dunia yang akan digelar pada 29-31 Juli 2015, di Seattle, Washington, Amerika Serikat.

													Mewakili Indonesia, tahun ini tim Alix dari Universitas Komputer Indonesia (UNIKOM), Bandung, berhasil melaju ke babak final lewat aplikasinya, Solidare (Bantu Anak Asuh Apps).</p>
                   </div>
                    <div id="content-2" class="berita">
                        <div class="header">
                            <img src="../public/img/0759442LIMA2780x390.jpg" alt="image">
                            <h1>Bulu tangkis juara</h1>
                        </div>
                        <P>Kemenangan Unikom dipastikan setelah tunggal putra kedua, Muhamad Hidayat berhasil kalahkan Rifky dua set langsung dengan skor 21-8, 21-16.</P>
                    </div>
                    <div id="content-3" class="berita">
                        <div class="header">
                            <img src="../public/img/bppk.jpg" alt="image">
                            <h1>Kemlu Jalin Kerja Sama dengan UNIKOM</h1>
                        </div>
                        <p>Sebagai salah satu bentuk kerja sama dalam nota kesepahaman tersebut, pada tahun 2016, Pusat P2K2 Amerika dan Eropa dan FISIP UNIKOM akan mengembangkan model diplomasi ekonomi sebagai sebuah interactive tool yang dapat menggambarkan potensi pasar prospektif Indonesia di kawasan Amerika dan Eropa.  Kerja sama pengkajian akan berlangsung selama 6 (enam) bulan dan seminar hasil akhir akan dilaksanakan pada bulan September 2016.  (Sumber: Pusat P2K2 Amerop BPPK)</p>
                    </div>
               </div>
            </div>
		</div>

		<!-- Footer -->
		<div id="footer" class="flex">
			<div id="footer-time"></div>
			<marquee >
				UNIVERSITAS KOMPUTER INDONESIA
			</marquee>
		</div>

	</div>

    <script>
        var $ = function(val){ return document.getElementById(val); };
        var $$ = function(val){ return document.querySelectorAll(val); };

        //-- news --
        var xbrt = $$('.berita').length;
        var y = 1;

        function aktif(n) {
            var j = n + 1;
            for (var i = 1; i <= xbrt; i++) {
                $('content-' + i).style.zIndex = '1';

            }
            if (j > xbrt){j = 1;}
            $('content-' + n).style.zIndex = '2';
        }

        function ubah() {
            y += 1;

           if (y > xbrt)
               y = 1;

            return aktif(y);
        }

        setInterval(ubah, 10000);
    </script>
    <script src="../public/script/client.js"></script>
	<script src="../controller/controller.js"></script>
</body>
</html>
